{{inject 'noCompareMessage' (lang 'compare.no_compare')}}

{{#if category.products}}
    {{> components/custom/category-view-toggle type=theme_settings.product_list_display_mode}}
    <a class="category__compare-link" href="{{urls.compare}}" data-compare-nav
        aria-label="{{lang 'common.compare'}}">
        {{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span>
    </a>
    {{> components/custom/custom-fs category}}
    {{!-- 
    {{> components/products/filter sort=pagination.category.sort}}
    --}}
    <div class="actionBar filter--section" >
        <fieldset class="form-fieldset actionBar-section" >
            <div class="form-field" align="left">
                <label class="form-label" for="sort">{{lang 'common.sorter.sort_by'}}</label>
                <select class="form-select form-select--small " name="sort" id="all-sort-select" role="listbox" disabled>
                    {{#if (length category.subcategories) '===' 0 }}
                        <option value="custom_sort_order-asc" >Default</option>
                    {{/if}}
                    <option value="best_selling-desc" >{{lang 'common.sorter.top_sellers'}}</option>
                    <option value="newest-asc" >{{lang 'common.sorter.newest'}}</option>
                    <option value="name-asc" >{{lang 'common.sorter.alpha_asc'}}</option>
                    <option value="name-desc" >{{lang 'common.sorter.alpha_desc'}}</option>
                    <option value="review-desc" >{{lang 'common.sorter.reviews'}}</option>
                    <option value="price-asc" >{{lang 'common.sorter.price_asc'}}</option>
                    <option value="price-desc" >{{lang 'common.sorter.price_desc'}}</option>
                    
                    {{#if result_count}}
                        <option value="relevance" {{#if sort '==' 'relevance'}}selected{{/if}}>{{lang 'common.sorter.relevance'}}</option>
                    {{/if}}
                </select>
            </div>
            
        </fieldset>
        
    </div>
    <div id="product-block">
        {{#if theme_settings.product_list_display_mode '===' 'grid'}}
            {{#if settings.data_tag_enabled}}
                {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
            {{else}}
                {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
            {{/if}}
        {{else}}
            {{#if settings.data_tag_enabled}}
                {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
            {{else}}
                {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
            {{/if}}
        {{/if}}
    </div>
    <div id="loader-block" style="margin:auto;display: flex;">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
    {{!-- 
    {{> components/common/paginator
        pagination.category
        page_type=page_type
        show_dropdown=theme_settings.its.paginator_dropdown
        paginator_dropdown_page_count=(ceil (divide category.total_products theme_settings.categorypage_products_per_page))
    }}--}}
{{else}}
    {{#if category.search_error}}
        <p>{{lang 'search.errorMessage'}}</p>
    {{else}}
        <p data-no-products-notification
           role="alert"
           aria-live="assertive"
           tabindex="-1"
        >
            {{lang 'categories.no_products'}}
        </p>
    {{/if}}
{{/if}}
