
<div class={{#if page_type '===' 'category'}}
        "grid"
    {{else}}
        "productGrid"
    {{/if}} 
    {{#if page_type '===' 'category'}}
        id="isotope-container"
    {{/if}}
>
    {{assignVar "num" 0}}
    {{#each products}}
    <div class="product"
        data-event-type="{{event}}"
        data-entity-id="{{id}}"
        data-position="{{position}}"
        {{!-- sorting --}}
        data-name="{{name}}"
        data-fake-name="{{#filter custom_fields '__product-fake-heading' property='name'}}{{{this.value}}}{{/filter}}"
        data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}},{{/if}}{{/each}}"
        data-product-brand="{{brand.name}}"
        data-product-price="{{#or customer (unless theme_settings.restrict_to_login)}}{{#if price.with_tax}}{{price.with_tax.value}}{{else}}{{price.without_tax.value}}{{/if}}{{else}}{{lang 'common.login_for_pricing'}}{{/or}}"
        data-rating="{{rating}}"
        data-num-rating="{{num_reviews}}"
        data-custom-num="{{incrementVar 'num'}}"
        data-custom-sort="{{#filter custom_fields '__product-sort-order' property='name'}}{{this.value}}{{else}}999{{/filter}}"
        
        
        {{!-- filtering --}}
        product-filter-IAT=""
        product-filter-FBS=""
        product-filter-FBC=""
        product-filter-CAT=""
        product-filter-NCF=""
        product-filter-NCP=""
        product-filter-NSI=""
        product-filter-HT=""
    >       
    <!-- <div class="product-content"> -->
            {{>components/products/card settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
            <!-- </div> -->
    </div>
    
    {{/each}}
    {{inject "num" (getVar "num")}}
</div>
